***For the titanic dataset perform the hypothesis testing to claim that there is a significant difference between  proportions of survived females to that of survived males.***

In [2]:
import numpy as np
import pandas as pd
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [3]:
df =pd.read_csv('D:\\CDAC\\Github\\Data_Analytics\\Hypothesis_Testing\\titanic.csv')

In [4]:
df.head(5)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Name         891 non-null    object
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
 11  Survived     891 non-null    int64
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df.isnull().sum()

PassengerId      0
Name             0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Survived         0
dtype: int64

In [7]:
df.drop(columns=['PassengerId','Name','Pclass','SibSp','Parch','Ticket','Fare','Cabin','Embarked'],axis=1,inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sex       891 non-null    object
 1   Age       714 non-null    float64
 2   Survived  891 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 21.0+ KB

In [9]:
x= df['Age'].mean()

In [10]:
df['Age'].fillna(x,inplace=True)

In [11]:
df.isnull().sum()

Sex         0
Age         0
Survived    0
dtype: int64

In [15]:
df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [16]:
females = df['Survived'][df['Sex']=='female'].sum()
print(females)
males = df['Survived'][df['Sex']=='male'].sum()
print(males)
p = females/(females+males)
p

233
109

0.6812865497076024

In [17]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [18]:
h0_prop =p
h0_prop

0.6812865497076024

In [19]:
h1_prop=df['Sex'].value_counts()['female']/len(df)
h1_prop

0.35241301907968575

In [20]:
sigma_prop = np.sqrt((h0_prop)*(1-h0_prop))/len(df)
sigma_prop

0.0005229827921518309

In [21]:
z = (h1_prop - h0_prop)/sigma_prop
z

-628.8419725527776

In [22]:
p_val = (1-stats.norm.cdf(z))*2
p_val

2.0